div.scrollPicture {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}
div.scrollPicture a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollPicture a:hover {
  background-color: white;
}
